/**
*    Admin styling
*    
**/
.admin-panel-header {
  background-color: rgb(255, 176, 0);
  color: #653602;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 1em;
  align-items: center;
  font-weight: 900;
}

.admin-panel-header button {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 1.25em;
}

@media screen and (max-width: 450px){
  .admin-panel-header h2{
    font-size: 1.5em;
    font-weight: bold;
  }

  .admin-panel-header h5{
    font-size: 1em;
  }
  
  .admin-panel-header button {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 1em;
  } 
}

.sidebar{
    z-index: 1;
    top: -69.4px;
    background: #222;
    margin-top: 0px;
    padding-top: 30px;
    left: 0;
    width: 250px;
    height: calc(110% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    position: sticky;
    text-transform: capitalize;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar .admin1{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .sidebar .admin1 i {
    width: 50px;
  }
  
  .sidebar .admin1:hover{
    background-color: rgb(255, 176, 0);
    color: #653602;
    font-weight: bolder;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  .content1{
    width: (100% - 250px);
    padding: 20px;
    margin-left: 250px;
    min-height: 96.5vh !important;
    transition: 0.5s;
    margin-top: -728px !important;
    position: relative;
    background-color: #f0f0f0;
  }
  
  .mobile_nav{
    display: none;
  }

  .adpor {
    display: flex;
    justify-content: centre;
    margin: 0 auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 860px){
    .logout_btn{
        margin-right: 0px;
      }
    .sidebar{
      display: none;
    }
    .content{
        margin-left: 0;
        margin-top: -17px !important;
        padding: 10px 20px;
        transition: 0s;
        min-height: 60.9vh !important;
    }
    .content1{
        margin-left: 0;
        margin-top: -17px !important;
        padding: 10px 20px;
        transition: 0s;
        min-height: 60.9vh !important;
    }
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
      top: -19px;
      position: relative;
      width: 100% !important;
    }
  
    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items .admin1{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items .admin1:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
    
    .admin-panel-header {
      position: relative;
      top: 50px;
    }
  }