.checkout-card {
  background-color: white;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  text-align: left;
}

.checkout-heads {
  color: darkblue;
  font-weight: 700;
  font-size: 1.25em;
}

.checkout-input {
  border: 0.5px solid grey;
  padding: 1em;
  color: #653602;
  border-radius: 6px;
  margin: 0.5em auto;
  width: 100%;
}

.checkout-butt {
  border: none;
  background-color: rgb(255, 176, 0);
  color: white;
  border-radius: 6px;
  width: 100%;
  padding: 1em;
  margin: 0.5em auto;
}

.changetime, .changetime:hover, .changetime:visited, .changetime:active {
  text-decoration: none;
  color: #0e86d4;
  margin: 0.5em auto;
  font-weight: 600;
}

.bill {
  color: #653602;
  width: 100%;
}