.checkout-input {
  border: 0.5px solid grey;
  padding: 0.6em;
  color: #653602;
  border-radius: 6px;
  margin: 0.5em auto;
  width: 100%;
}

.checkout-butt {
  border: none;
  background-color: rgb(255, 176, 0);
  color: white;
  border-radius: 6px;
  width: 100%;
  padding: 0.7em;
  margin: 0.5em auto;
}

.bill {
  color: #653602;
  width: fit-content;
  margin: auto;
}

.checky{
  width: 95%;
  margin-left: auto;
}
@media screen and (max-width: 800px){
  .checky{
    width: 100%;
    margin: auto;
  } 
}
.checky1{
  font-size: 25px;
  font-weight: 550;
}
.checky2{
  text-align: center;
}