/*rgb(255, 176, 0)
#653602
*/

.form {
  margin: 5em auto;
  display: flex;
}

.form-main {
  margin: 2em auto;
  padding: 2em;
  display: flex;
  width: 40vw;
  height: auto;
  color: white;
  background-color: #8c5b25;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23653602' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 4px;
}

.form-fields {
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.form-fields {
  background-color: none;
}

.form-fields h1 {
  font-weight: 700;
}

.form-input {
  width: 100%;
  color: white;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid  rgb(255, 176, 0);
  background-color: inherit;
  margin: 1em 0;
}

.form-input:focus {
  outline: none;
}

::placeholder {
  color: white;
}

.form-button {
  margin: 1em 0;
  padding: 0.5em;
  color: white;
  width: 100%;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 700;
  border: none;
  outline: none;
  background-color:  rgb(255, 176, 0);
  border-radius: 2px;
}

.form-button:hover {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  background-color: rgb(255, 176, 0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
  color: rgb(68, 67, 67);
}

.util-link,
.util-link:active,
.util-link:hover {
  color:  rgb(255, 176, 0);
  text-decoration: none;
}

.util {
  margin: 1.5em auto auto auto;
}

.util .util-link:hover {
  background-color: var(--accentColor);
  color: white;
  transition: 0.2s all ease-out;
}

/* .external-login {
  display: flex;

  justify-content: space-around;
}

.fb-login-link,
.fb-login-link:visited,
.fb-login-link:active {
  margin: 1em auto;
  padding: 0.5em 0.75em;
  text-decoration: none;
  font-weight: 700;
  color: var(--mainWhite);
  background-color: var(--accentColor);
  border-radius: 2px;
  text-align: center;
}

.fb-login-link:first-child:hover {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  background-color: #3b5998;
}

.fb-login-link:last-child:hover {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  background-color: #EA4335;
} */

@media only screen and (max-width: 600px) {
  .form {
    height: auto;
    align-items: center;
  }

  .form-main {
    align-items: center;
    justify-content: center;
    padding: none;
    flex-direction: column-reverse;
    width: 80vw;
    height: auto;
  }

  .form-fields {
    width: auto;
    padding: 0.5em;
    font-size: 0.9em;
  } 
  
  .form-fields h1 {
    text-align: center;
  }
}