.ckk{
    width: 100%;
    overflow: hidden;
}
.cskk{
    width: 65%;
    margin: auto !important;
    overflow: hidden;
    position: relative;
    left: -19px;
    padding-bottom: 15px;
}
.snitch{
    text-align: center;
    padding: 25px;
    margin-top: 15px;
    color: #6b5236;
    font-weight: bold;
    font-family: 'Roboto Slab';
    font-size: 23px;
}
.snitch span{
    color: #c0933f !important;
    font-weight: normal !important;
}
.mu-title {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
  }
  
  .mu-title .mu-subtitle {
    font-size: 50px;
    font-family: "Tangerine", cursive;
    line-height: 30px;
    color: #6b5236;
  }
  
  .mu-title h2 {
    color: #c0933f !important;
    font-size: 35px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }  

.cskk4{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}
@media screen and (max-width: 1150px) {
    .cskk4{
        justify-content: flex-start;
        overflow-x: scroll;
    }
}
.cskk5{
    width: 120px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.cskk5 img{
    width: 38px;
}
.cskk5 p{
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
}
@media screen and (max-width: 1020px) {
    .cskk{
        width: 99%;
        padding: 30px 0;
    }   
}

@media screen and (max-width: 450px) {
    .cskk{
        overflow: scroll !important;
        padding-bottom: 0px;
        margin: -12px 0  -25px 0 !important;
    }
    .snitch{
        text-align: center;
        padding: 0px;
        margin-top: 15px;
        color: #6b5236;
        font-weight: bold;
    }
}
.homey{
    width: 80%;
    margin: auto;
}
.homey1{
    margin: 25px 0 !important;
}
.homey2{
    width: 85%;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: -40px !important;
}
@media screen and (max-width: 1250px){
    .homey{
        width: 93%;
    }
}
@media screen and (max-width: 650px){
    .homey{
        width: 98%;
    }
    .homey1{
        margin: 15px 0 !important;
    }
}