.men24{
    width: 100%;
}

.men2{
    display: flex;
    width: fit-content;
    margin: auto;
    height: 100px;
    overflow: hidden;
    z-index: 100;
}
.men22 img{
    width: 174px;
    height: auto;
    margin-top: 28px;
}
.men21{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
.men2121 select{
    height: 45px;
    margin-top: 30px;
    border-color: rgb(194, 194, 194);
    font-size: 14px !important;
    padding: 0px 5px !important;
    color: #653602 !important;
    border-radius: 5px;
}
#combo-box-demo{
    color: black;
    padding-left: 10px !important;
    border-color: rgb(194, 194, 194) !important;
}   
.men2122{
    border:1px solid rgb(194, 194, 194);
    height: 43px;
    margin-top: 31.5px !important;
    border-radius: 5px;
}
.malay-searchbar{
    /* border: 1px solid black !important; */
    height: 43px;
        border-color: rgb(194, 194, 194) !important;
    /* color: #653602; */
}
.men2122 ::-webkit-scrollbar{
    width: 0px !important;
}
.men2123 button{
    height: 43px !important;
    margin-top: 31.5px;
    background-color:#653602 !important;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 90px;
}

.MuiInput-underline::after,
.MuiInput-underline::before{
  border-bottom: none !important;
}

@media screen and (max-width: 860px){
    .men21{
        display: none;
    }
    .men22{
        width: 160px ;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .men22 img{
        width: 160px;
        height: auto;
        margin-top: 6px;
    }   
}

.men3{
    width: 100%;
    background-color: #653602;
    height: 45px !important;
}
.men3 ul{
    width: fit-content;
    margin: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.men3 li{
    font-size: 17px;
    font-weight: 500;
    line-height: 45px;
    color: white;
    border-right: 0.5px solid white;
    padding: 0px 25px;
}
.men3 li:hover{
    color: #c0933f;
    text-decoration: none;
}

.dropbtn {
    background-color: transparent;
    color: white !important;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 550;
    line-height: 35px;
    border-right: 0.5px solid white;
    padding: 5px 20px !important;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    color: #3A3A3A;
    padding: 10px 16px; 
    text-decoration: none;
    display: block;
    text-align: left !important;
  }
  
  .dropdown-content a:hover {background-color: #c0933f;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent; color: #c0933f;}


.nav{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.nav .navlink{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.titeel{
    display: none;
    visibility: hidden;
    width: 0;
}
.titeel1{
    display: none;
    visibility: hidden;
    width: 0;
}
.titek{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titeel1 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 8px;
}
.titek h5{
    line-height: 60px;
    color: white;
}
.titek span:nth-child(1){
    color: white;
    padding-right: 15px;
    font-size: 24px;
}
.titek span:nth-child(2){
    color: white;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 23px;
}
.titek h6{
    margin-top: 12px;
    margin-bottom: 0 !important;
    color: white;
}
.titek p{
    font-size: 13px;
    color: yellow;
}
@media screen and (max-width: 1000px){
    .dropbtn {
        font-size: 16px;
        padding: 5px 15px !important;
      }
      .men3 li{
        font-size: 16px;
        padding: 0px 15px;
    }
}
@media screen and (max-width: 860px){
    .men2{
        height: 50px;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 50px;
    }
    .men3{
        height: 0px !important;
    }
    .nav{
        height: 0vh;
        padding: 0px 0px;
    }
    .men3 li{
        color: black;
        padding-left: 5px !important;
        border-bottom: 1px solid rgb(207, 206, 206);
        font-weight: 560 !important;
        font-size: 18px !important;
    }
    .dropbtn{
        color: black !important;
        padding: 5px !important;
        border-bottom: 1px solid rgb(207, 206, 206);
        width: 110% !important;
        text-align: left !important;
        font-weight: 560 !important;
        font-size: 18px !important;
    }
    .navlink{
        position: fixed;
        top: 0;
        left: 0;
        width: 275px !important;
        height: 100% !important;
        background-color: white;
        flex-direction: column !important;
        justify-content: start !important;
        clip-path: circle(0px at 100% 0%);
        -webkit-clip-path: circle(0px at 100% 0%);
        z-index: 99;
        padding-top: 120px;
        overflow: hidden;
        border-right: 1.5px solid rgb(222, 223, 223);
    }
    .navlink li{
        margin-left: -30px !important;
        border-right: none;
    }
    .dropbtn {
        margin-left: -30px !important;
        border-right: none;
      }
    .navlink.open{
        clip-path: circle(1000px at 100% 0%);
        -webkit-clip-path: circle(1000px at 100% 0%);
    }
    .hamburger{
        z-index: 100;
        height: 40px;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 11px;
        left: 4px !important;
        cursor: pointer;
        position: fixed;
    }
    .hamburger div{
        background-color: rgb(255, 176, 0);
        margin: 5px 0 0 8px; 
        width: 25px;
        height: 4px;
    }
    .titeel{
        display: unset;
        visibility: visible;
        width: 275px !important;
        position: fixed;
        bottom: 55px;
        z-index: 100;
        text-align: center;
        left: 0px;
        border-top: 1px solid rgb(207, 206, 206);
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .titeel i{
        color: gray;
        font-weight: bold;
        text-align: center;
    }
    .titeel1{
        display: unset;
        visibility: visible;
        position: absolute;
        top: 50.5px;
        /* font-size: 23px; */
        left: 0;
        background-color: rgb(255, 176, 0);
        width: 100%;
        /* line-height: 50px;
        color: white; */
        height: 60px;
    }
}
.logll{
    border: none;
    background-color: transparent;
    width: 150px;
    text-align: start;
}







.header-extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin: auto;
    padding: 0 20px;
}
.header-extra1{
    text-align: center;
    margin-top: 5px;
}
.header-extra11{
    background-color: #ffb000;
    color: white;
    font-size: 15px;
}
.header-extra12{
    padding: 1px 6px;
}
.header-extra13{
    color: #ffb000;
    border: 2px solid #ffb000;
    font-size: 14px;
}
.header-extra14{
    padding: 1px 6px;
}
.header-extra2{
    margin: auto 15px;
    text-align: center;
}
.header-extra2 p{
    margin-top: 15px;
}
.header-extra3{
    margin: auto 15px;
}
.header-extra3 p{
    margin-top: 15px;
}
/* .header-extra221{

} */
.header-extra221 .header-extra222{
    border: none;
    color: black;
    background-color: transparent;
}
.header-extra223{
    display: flex;
    flex-direction: column !important;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    z-index: 110;
    margin-top: 1px;
    box-shadow: 0 0 10px rgb(235, 235, 235);
}
.header-extra221:hover .header-extra223{
    display: flex !important;
}
.header-extra223 a{
    padding: 6px 0;
}

.header-extraa{
    display: none;
}
.header-extraa a{
    color: #653602;
}
@media screen and (max-width: 1110px){
    .header-extra2{
        margin: auto 2px;       
    }
    .header-extra11{
        font-size: 13px;
    }
    .header-extra13{
        font-size: 12px;
    }
    .header-extra2 p{
        margin-top: 15px;
        font-size: 13px;
    }
    .header-extra3 p{
        margin-top: 15px;
        font-size: 13px;
    }
    .header-extra222{
        font-size: 13px;
    }
}
@media screen and (max-width: 1040px){
    .header-extra1{
        display: none;
    }
}
@media screen and (max-width: 860px){
    .header-extra{
        display: none;
    }
    .header-extraa{
        width: 120px;
        display: flex;
        line-height: 56px;
        margin-left: auto;
    }
    .header-extraa a{
        font-size: 21px;
        padding-right: 15px;
        color: #653602;
    }
}
@media screen and (max-width: 430px){
    .header-extraa{
        position: relative;
        left: -46px;
        width: 80px;
        display: flex;
        line-height: 56px;
        margin-left: auto;
    }
    .header-extraa a{
        color: #653602;
        font-size: 21px;
        padding-right: 4px;
    }
}
@media screen and (max-width: 390px){
    .header-extraa{
        position: relative;
        left: -67px;
    }
}

/* 9639184441 */