.men24{
    width: 100%;
}

.men2{
    display: flex;
    width: 73%;
    margin: auto;
    height: 100px;
    overflow: hidden;
    z-index: 100;
}
.men22 img{
    width: 174px;
    height: auto;
    margin-top: 28px;
}
.men21{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
.men2121 select{
    height: 45px;
    margin-top: 30px;
    border-color: rgb(194, 194, 194);
    font-size: 14px !important;
    padding: 0px 5px !important;
    color: #653602 !important;
    border-radius: 5px;
}
.men2122 Autocomplete{
    height: 45px;
    margin-top: 30px;
    width: 200px;
}
.men2123 button{
    height: 43px !important;
    margin-top: 31.5px;
    background-color:#653602 !important;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 90px;
}
.men23{
    margin-left: 20%;
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 860px){
    .men21{
        visibility: hidden !important;
    }
    .men22{
        width: 160px ;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .men22 img{
        width: 160px;
        height: auto;
        margin-top: 6px;
    }   
}
@media screen and (max-width: 450px){
    .men23{
        visibility: visible !important;
        display: unset !important;
        position: absolute;
        right: 4%;
        z-index: 101;
    }
    .men2321 i{
        line-height: 55px;
        font-size: 24px;
        font-weight: bold;
        color: #653602;
    }
    .men2321 span{
        margin-left: 9px;
    }
}

.men3{
    width: 100%;
    background-color: #653602;
    height: 45px !important;
}
.men3 ul{
    width: fit-content;
    margin: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.men3 li{
    font-size: 17px;
    font-weight: 500;
    line-height: 45px;
    color: white;
    border-right: 0.5px solid white;
    padding: 0px 25px;
}
.men3 li:hover{
    color: #c0933f;
    text-decoration: none;
}

.dropbtn {
    background-color: transparent;
    color: white !important;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 550;
    line-height: 35px;
    border-right: 0.5px solid white;
    padding: 5px 20px !important;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    color: #3A3A3A;
    padding: 10px 16px; 
    text-decoration: none;
    display: block;
    text-align: left !important;
  }
  
  .dropdown-content a:hover {background-color: #c0933f;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent; color: #c0933f;}


.nav{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.nav .navlink{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.titeel{
    display: none;
    visibility: hidden;
    width: 0;
}
.titeel1{
    display: none;
    visibility: hidden;
    width: 0;
}
@media screen and (max-width: 1000px){
    .dropbtn {
        font-size: 16px;
        padding: 5px 15px !important;
      }
      .men3 li{
        font-size: 16px;
        padding: 0px 15px;
    }
}
@media screen and (max-width: 860px){
    .men2{
        height: 50px;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 50px;
    }
    .men3{
        height: 0px !important;
    }
    .nav{
        height: 0vh;
        padding: 0px 0px;
    }
    .men3 li{
        color: black;
        padding-left: 5px !important;
        border-bottom: 1px solid rgb(168, 168, 168);
    }
    .dropbtn{
        color: black !important;
        padding: 5px !important;
        border-bottom: 1px solid rgb(168, 168, 168);
        width: 110% !important;
        text-align: left !important;
    }
    .navlink{
        position: fixed;
        top: 0;
        left: 0;
        width: 275px !important;
        height: 100% !important;
        background-color: white;
        flex-direction: column !important;
        justify-content: start !important;
        clip-path: circle(0px at 100% 0%);
        -webkit-clip-path: circle(0px at 100% 0%);
        z-index: 99;
        padding-top: 95px;
        overflow: hidden;
        border-right: 1.5px solid rgb(222, 223, 223);
    }
    .navlink li{
        margin-left: -30px !important;
        border-right: none;
    }
    .dropbtn {
        margin-left: -30px !important;
        border-right: none;
      }
    .navlink.open{
        clip-path: circle(1000px at 100% 0%);
        -webkit-clip-path: circle(1000px at 100% 0%);
    }
    .hamburger{
        z-index: 100;
        height: 40px;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 11px;
        left: 4px !important;
        cursor: pointer;
        position: fixed;
    }
    .hamburger div{
        background-color: rgb(255, 176, 0);
        margin: 5px 0 0 8px; 
        width: 25px;
        height: 4px;
    }
    .titeel{
        display: unset;
        visibility: visible;
        width: 275px !important;
        position: fixed;
        bottom: 55px;
        z-index: 100;
        text-align: center;
        left: 0px;
        border-top: 1px solid rgb(168, 168, 168);
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .titeel i{
        color: gray;
        font-weight: bold;
        text-align: center;
    }
    .titeel1{
        display: unset;
        visibility: visible;
        position: absolute;
        top: 50.5px;
        font-size: 23px;
        border-bottom: 1px solid rgb(61, 61, 61);
        left: 0;
        background-color: rgb(255, 176, 0);
        width: 100%;
        text-align: center;
        line-height: 40px;
        color: white;
    }
}
.logll{
    border: none;
    background-color: transparent;
    width: 150px;
    text-align: start;
}