.cskkk img{
    width: 100%;
    max-height: 90vh;
}
@media screen and (max-width: 650px) {
    .cskkk img{
        width: 100%;
        height: 35vh;
    }
}
.csk{
    width: 270px;
    margin: auto;
    height: 360px;
    overflow: hidden;
}
.csk1{
    max-width: 270px;
    overflow: hidden;
}
.csk1 img{
    width: 100%;
    max-height: 258px;
}
.csk1:hover img{
    transform: scale(1.1);
    transition: all 0.4s;
}
.csk2{
    position: relative;
    left: 0;
    bottom: 0px;
    padding: 10px 5px;
    transition: all 0.5s;
    background: linear-gradient(
        45deg,
        #82AE46 0%,
        rgba(144,192,229,0.4) 100%
    );
}
.csk2 p{
    font-size: 16px;
    text-align: center;
}
.csk2:hover{
    bottom: 50px;
}
@media screen and (max-width: 450px){
    .csk2:hover{
        height: auto;
        bottom: 0px;
    }   
    .csk{
        width: 285px;
        height: auto !important;
    }
    .csk1{
        max-width: 285px;
    }
    .csk1 img{
        width: 100%;
        height: auto !important;
    }
    .csk1:hover img{
        transform: scale(1.1);
        transition: all 0.4s;
    }
}
@media screen and (max-width: 300px){   
    .csk{
        max-width: 285px !important;
        height: auto !important;
    }
}