.shopi{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
.shopi input{
    width: 100%;
    height: 40px !important;
    border-radius: 2px solid black;
}
.MuiTextField-root{
    width: 100%;
}
.tera-yarr-hoo{
    width: 85px;
    height: 40px;
    margin-left: -30px;
    border: none;
    color: white;
    outline: none;
    background-color: rgb(255, 176, 0);
    margin-top: 12px;
}
@media screen and (max-width: 987px){
    .shopi{
        width: 70%;
        padding-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .shopi{
        width: 95%;
        padding-top: 30px;
    }
}
.shopii1{
    margin-top: 60px;
    margin-bottom: 20px;
    width: fit-content;
}
.shopii1 label{
    margin-left: 4px;
}
.shopii1 p{
    font-size: 18px;
    color: #6b5236;
    font-weight: 700;
}
.shopi1{
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px 0;
}
.shopi1 select{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.shopi2{
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px 0;
}
.shopi3{
    padding: 10px 0;
    border-radius: 10px;
}

.shopii2 h5{
    text-align: center;
    font-weight: 550;
    margin-bottom: -4px;
    margin-top: 15px;
}
.shopii2{
    width: 100%;
}
@media screen and (max-width: 987px){
    .shopii2 h4{
        margin-bottom: 5px;
    }   
    /* .shopii1{
        width: 300px;
        margin: 30px auto;
    } */
}
@media screen and (max-width: 500px){
    .shopii2 h4{
        margin-bottom: 5px;
    }   
    .shopii1{
        width: auto !important;
    }
}
@media screen and (max-width: 400px){
    .shopii3{
        margin-left: -0% !important;
        margin-right: 0% !important;
    }
    .cde{
        width: 100% !important;
    }
}



.cnpp h5{
    color: #6b5236;
    margin-bottom: 18px;
    font-weight: bold;
}
.cnpp1{
    display: flex;
    margin-bottom: 23px;
}
.cnpp2 img{
    width: 80px;
}
.cnpp3{
    margin-left: 10px;
}
.cnpp3 h6{
    font-size: 14px;
    color: black;
    margin-top: 12px;
}
.cnpp3 p{
    font-size: 15px;
    color: #6b5236;
    margin-top: -5px;
}



/* .slidddee{
    visibility: collapse;
    height: 0;
    display: none;
} */

.slidddeee{
    border: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    top: 45px;
    display: none;
    visibility: collapse;
    left: 5%;
}

@media screen and (max-width: 992px){
    .sliddde{
        display: none;
        visibility: collapse;
    }
    .slidddeee{
        display: block;
        visibility: visible;
    }
    .shopii2 h5{
        text-align: center;
        font-weight: 550;
        margin-bottom: 0px;
        margin-top: 15px;
    }
}



.slidddee.open{
    clip-path: circle(1000px at 100% 0%);
    -webkit-clip-path: circle(2000px at 100% 0%);
}
.slidddee{
    position: fixed;
    top: 0;
    right: 0;
    padding: 0px 0px 0px 30px;
    width: 250px !important;
    height: 100% !important;
    background-color: rgb(255, 255, 255);
    clip-path: circle(0px at 100% 0%);
    -webkit-clip-path: circle(0px at 100% 0%);
    transition: all 0s ease-out;
    z-index: 98;
}