body {
  margin: 0;
  font-family: 'Poppins', arial ,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
*:focus {
  outline: 0 !important;
}
.men{
  color: black;
  font-size: 18px;
  margin: 5px 15px;
  text-decoration: none;
}
.men:hover{
  color: black;
  font-size: 18px;
  margin: 5px 15px;
  text-decoration: none;
}
.men1{
  text-align: center;
  margin: auto;
}