body {
  margin: 0;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.hwami{
  margin-top: 0px;
}
code {
  font-family: 'Roboto';
  scroll-behavior: smooth;
}
/* *::-webkit-scrollbar{
  width: 25px !important;
  color: black !important;
} */
*:focus {
  outline: 0 !important;
}
.men{
  color: black;
  font-size: 18px;
  margin: 5px 15px;
  text-decoration: none;
}
.men:hover{
  color: black;
  font-size: 18px;
  margin: 5px 15px;
  text-decoration: none;
}
.men1{
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 860px){
  .hwami{
    margin-top: 50px !important;
    padding-bottom: 35px;
  }
}